on:
  # once a week
  schedule:
    - cron: 0 2 * * 1
  workflow_dispatch:
    inputs:
      DPP_VERSION:
        description: dpp version to build
        required: true
env:
  DPP_VERSION: ${{ inputs.DPP_VERSION || 'master' }}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Update Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: hadeath/dpp-builder
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push Ubuntu with voice support
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.ubuntu
          push: true
          tags: hadeath/dpp-builder:${{ env.DPP_VERSION }}-ubuntu
          build-args: |
            BUILD_VOICE_SUPPORT=ON
            DPP_VERSION=${{ env.DPP_VERSION }}
      - name: Build and push Ubuntu without voice support
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.ubuntu
          push: true
          tags: hadeath/dpp-builder:${{ env.DPP_VERSION }}-ubuntu-no-voice
          build-args: |
            BUILD_VOICE_SUPPORT=OFF
            DPP_VERSION=${{ env.DPP_VERSION }}
      - name: Build and push Alpine with voice support
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.alpine
          push: true
          tags: hadeath/dpp-builder:${{ env.DPP_VERSION }}-alpine
          build-args: |
            BUILD_VOICE_SUPPORT=ON
            DPP_VERSION=${{ env.DPP_VERSION }}
      - name: Build and push Alpine without voice support
        uses: docker/build-push-action@v6
        with:
          file: Dockerfile.alpine
          push: true
          tags: hadeath/dpp-builder:${{ env.DPP_VERSION }}-alpine-no-voice
          build-args: |
            BUILD_VOICE_SUPPORT=OFF
            DPP_VERSION=${{ env.DPP_VERSION }}
